tr td{
    border: none;
}
.box{
    width: 100%;
    background-image: url(../Pic/background.jpeg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    height: 500px;
    
}

.container1{

   padding-top:100px;
   padding-left: 150px;
   padding-right: 150px;
}
.table1{
    font-size: 25px;
    text-align: center;
    color: white; 
}
.color1{
    background-color: rgba(14, 13, 13, 0.5);
}
